.img-btn-contain {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.img-btn-contain .img-left-top {
    padding-right: 0px;
    padding-bottom: 0px;
}

.img-btn-contain .img-right-top {
    padding-left: 0px;
    padding-bottom: 0px;
}

.img-btn-contain .img-left-bottom {
    padding-right: 0px;
    padding-top: 0px;
}

.img-btn-contain .img-right-bottom {
    padding-left: 0px;
    padding-top: 0px;
}

.img-btn {
    width: 300px;
}

.image {
    position: relative;
}

.image .text-on-img {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
}

.image .text-left-top {
    -webkit-transform: rotate(-20deg) skew(10deg, 0);
    -moz-transform: rotate(-20deg) skew(10deg, 0);
    -ms-transform: rotate(-20deg) skew(10deg, 0);
    -o-transform: rotate(-20deg) skew(10deg, 0);
    transform: rotate(-20deg) skew(10deg, 0);
}

.image .text-right-top {
    -webkit-transform: rotate(20deg) skew(10deg, 0);
    -moz-transform: rotate(20deg) skew(10deg, 0);
    -ms-transform: rotate(20deg) skew(10deg, 0);
    -o-transform: rotate(20deg) skew(10deg, 0);
    transform: rotate(20deg) skew(10deg, 0);
}

.question-list-container {
    padding-left: 30%;
    padding-right: 20%;
    text-align: center;
    margin-top: 50px;
}

.question-text {
    font-size: 20px;
}

.question-display-container {
    padding-left: 30%;
    padding-right: 20%;
    margin-top: 30px;
}

.question-content-text {
    font-size: 20px;
}

.choice-row {
    padding-bottom: 15px;
}

.btn-submit-row {
    padding-top: 20px;
    padding-bottom: 15px;
}

.room-row {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}

.room-list-container {
    padding: 20px;
    text-align: center;
}

.room-link {
    margin-left: 30px;
}

.btn-back-to-room-list {
    margin-top: 30px;
}

.contest-question-container {
    text-align: left;
}

.room-center {
    text-align: center;
}

.timer-text {
    color: red;
}

.display-contest-form {
    padding-left: 28%;
    padding-top: 20px;
}

.alert-text {
    margin-top: 20px;
    text-align: center;
}

.btn-group-container {
    padding-top: 30px;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 50px;
}

.status-container {
    padding-bottom: 100px;
}