.navbar-brand {
    font-family: "Impact";
    font-size: 32px;
}

.navbar-background {
    background-color: #9fcdff;
}


.title-container {
    margin-top: 3rem;
    padding-top: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
}


.title-container .welcome-title {
    font-family: Arial;
    font-weight: 700;
    font-size: 40px;
    color: #155724;
}

.title-container .welcome-subtitle{
    font-family: Arial;
    font-style: italic;
    font-size: 20px;
    color: #999999;
}

.container-center {
    text-align: center;
}

.container-center .form-container {
    padding-top: 0.5rem;
    width: 30%;
}

.warning-font {
    color: red;
}

.inherit-style{
    display: inherit;
}

.label-style {
    font-size: 20px;
    color: white;
}