{% extends "pages/base_template.html" %}

{% block title %} KidKnowGarden Homepage {% endblock %}

{% block nav-row %}
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <form class="form-inline ml-md-5">
            <input class="form-control mr-md-1" type="text" placeholder="Search" aria-label="Search">
            <button id="btn-search-banner" class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item banner-item">
                <div class="align-self-center">
                    <a href="{% url "user-link" user.username %}"><img width="40" height="40"
                                                                       src="{% url 'get-avatar' user.username %}"
                                                                       alt="avatar"/></a>
                </div>
            </li>
            <li class="nav-item dropdown banner-item">
{#                CAUTION!!! DO NOT CHANGE THE FOLLOWING CODE SINCE SOCKET CONNECTION#}
{#                RELYS ON THE INTEGRITY OF USERNAME#}
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
{#                    <a class="dropdown-item" href="{% url "user-link" user.username %}">View My Profile</a>#}
{#                    <a class="dropdown-item" href="{% url "show-follow-posts" %}">Show Following Posts</a>#}
{#                    <div class="dropdown-divider"></div>#}
{#                    <a class="dropdown-item" href="{% url 'edit-profile-page' %}">Edit Profile</a>#}
{#                    <a class="dropdown-item" href="{% url 'send-confirmation' %}">Change Password</a>#}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}

{% block main-page %}

    <div class="container">
      <h5>User LIST</h5>
      <a href="{% url 'logout' %}">Log out</a>
      <br>
      <ul>
        {% for user in users %}
          <!-- NOTE: We escape HTML to prevent XSS attacks. -->
          <li data-username="{{ user.username|escape }}">
            {{ user.username|escape }}: {{ user.status|default:'Offline' }}
          </li>
        {% endfor %}
      </ul>
    </div>

    {% block content %}

    {% endblock %}

{% endblock %}

{% block script %}
  <script>
  $( document ).ready(function() {
      var socket = new WebSocket('ws://' + window.location.host + '/users/');
      username = $("#navbarDropdownMenuLink").html().trim();
      var user_socket = new WebSocket('ws://' + window.location.host + '/user-' + username + '/');

      socket.onopen = function open() {
          console.log('WebSockets connection created.');
      };

      user_socket.onopen = function open() {
          console.log('User connection created.');
      };

      socket.onmessage = function message(event) {
          var data = JSON.parse(event.data);
          // NOTE: We escape JavaScript to prevent XSS attacks.
          var username = encodeURI(data['username']);
          var user = $('li').filter(function () {
              return $(this).data('username') === username;
          });

          if (data['is_logged_in']) {
              user.html(username + ': Online');
          }
          else {
              user.html(username + ': Offline');
          }
      };

      if (socket.readyState === WebSocket.OPEN) {
          socket.onopen();
      }

      if (user_socket.readyState === WebSocket.OPEN) {
          user_socket.onopen();
      }
  });
  </script>
{% endblock script %}