{% extends "pages/index.html" %}

{% block page_title %}
    Register
{% endblock %}

{% block content-part %}
    <form class="mbr-form" action="{% url 'auto-login' %}" method="post" data-form-title="Mobirise Form">
    {% csrf_token %}
        <div class="row row-sm-offset">
            <div class="col-md-4"></div>
            <div class="col-md-4" data-for="username">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" id="name-form1-14" placeholder="Username">
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row row-sm-offset">
            <div class="col-md-4"></div>
            <div class="col-md-4" data-for="password">
                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="email-form1-14"
                           placeholder="Password">
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row row-sm-offset">
            <div class="col-md-4"></div>
            <div class="col-md-4">

                <div class="input-group-btn align-items-center inherit-style">
                    <button href="" type="submit" class="btn btn-white-outline btn-form display-4">Sign In</button>
{#                    <input type="submit" class="btn btn-md btn-white-outline display-4" value="Sign In">#}
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>


    </form>

{% endblock %}

