{% extends "pages/question_list.html" %}

{% block page_title %}
    Sudoku
{% endblock %}

{% block additional_css %}
    <link href="/static/css/home-style.css" rel="stylesheet" type="text/css">
    <link href="/static/css/memory_game/style.css" rel="stylesheet" type="text/css">
    <link href="/static/plugin/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block subpage-head-title %}
    Memory Game
{% endblock %}

{% block subpage-head-subtitle %}
    Found the same characters!
{% endblock %}

{% block subpage-content-part %}
    <div class="container">
        <div id="memory_board"></div>
    </div>

    <div class="mbr-section-btn align-center py-2">
        <button id="replay-btn" class="btn btn-md btn-primary display-4" style="border-radius: 100px">
            Replay the  Game
        </button>
        <a href="{% url 'game_page' %}">
            <button id="back-btn" class="btn btn-md btn-primary display-4" style="border-radius: 100px">
                Back to Game Page
            </button>
        </a>
    </div>
{% endblock %}

{% block additional_scripts %}
    <script type="text/javascript" src="/static/plugin/jquery-confirm/jquery-confirm.min.js"></script>
    <script src="/static/js/memory_game/lodash.min.js"></script>
    <script src="/static/js/memory_game/actions.js"></script>
{% endblock %}