{% extends "pages/home.html" %}

{% block additional_link_script %}
    <script type="text/javascript" src="/static/js/question_page.js"></script>
{% endblock %}

{% block title %}Question Page{% endblock %}

{% block main-page %}
    <p>{{ content }}</p>
    <form method="post" >
        {% csrf_token %}
        <input type="hidden" id="record_id" value="{{ id }}" hidden><br>
        <input type="radio" name="choice" id="choice1"> {{ choice1 }}<br>
        <input type="radio" name="choice" id="choice2"> {{ choice2 }}<br>
        <input type="radio" name="choice" id="choice3"> {{ choice3 }}<br>
        <input type="radio" name="choice" id="choice4"> {{ choice4 }}<br>
        <button id="submit-btn"> submit</button>
{#        <input type="submit" id="submit-btn">#}
    </form>

    <div id="result"></div>

{% endblock %}

