{% extends "pages/home.html" %}

{% block additional_link_script %}
    <script type="text/javascript" src="/static/js/question_page.js"></script>
    <link href="/static/css/home-style.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}Question Page{% endblock %}

{% block main-page %}

    <div class="container title-container">
        <h1 class="welcome-title">Question</h1>
        <p class="welcome-subtitle">Test Yourself!</p>
    </div>

    <div class="container question-display-container">
        <div class="question-content-text">{{ content }}</div>
        <form method="post" class="form-check">
            {% csrf_token %}
            <input type="hidden" id="record_id" value="{{ id }}" hidden><br>
            <div class="choice-row form-check-label">
            <input type="radio" name="choice" id="choice1" class="form-check-input"> {{ choice1 }}
            </div>
            <div class="choice-row form-check-label">
            <input type="radio" name="choice" id="choice2" class="form-check-input"> {{ choice2 }}
            </div>
            <div class="choice-row form-check-label">
            <input type="radio" name="choice" id="choice3" class="form-check-input"> {{ choice3 }}
            </div>
            <div class="choice-row form-check-label">
            <input type="radio" name="choice" id="choice4" class="form-check-input"> {{ choice4 }}
            </div>
            <div class="btn-submit-row">
                <button id="submit-btn" class="btn btn-primary"> submit</button>
            </div>

            {#        <input type="submit" id="submit-btn">#}
        </form>

        <div id="result" class="warning-font"></div>
    </div>

{% endblock %}

