{% extends "pages/home.html" %}

{% block title %}Question List{% endblock %}

{% block main-page %}

    <div class="container title-container">
        <h1 class="welcome-title">Question List</h1>
        <p class="welcome-subtitle">Test Yourself!</p>
    </div>

    <div class="container question-list-container">
        {% for question in questions %}
            <div class="row justify-content-md-start">
                <a href="{% url "question-page" question.id %}">
                    <div class="question-text">{{ question.content }}</div>
                </a>
            </div>

        {% endfor %}

    </div>

    <div class="btn-group-container">
        <div id="btn-group" class="btn-group-container">
            <a href="{% url 'home' %}">
                <button type="button" id="back-btn" class="btn btn-secondary btn-lg btn-block">Back to Home Page
                </button>
            </a>
        </div>
    </div>

{% endblock %}