{% extends "pages/welcome.html" %}

{% block page_title %}
    Register
{% endblock %}

{% block content-part %}
    <form class="mbr-form" action="{% url 'register' %}" method="post" data-form-title="Mobirise Form">
        {% csrf_token %}
        {% load myfilters %}
        {% for field in form.visible_fields %}
            <div class="row row-sm-offset">
                <div class="col-md-4"></div>
                <div class="col-md-4" data-for="username">
                    <div class="form-group">
                        {{ field|add_class_placeholder:'form-control' }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="warning-font">
                        {{ field.errors }}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="row row-sm-offset">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="input-group-btn align-items-center inherit-style">
                    <button href="" type="submit" class="btn btn-white-outline btn-form display-4">Register</button>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>


    </form>

{% endblock %}