{% extends "pages/welcome.html" %}
{% block title %}
    KidKnowGarden Register Page
{% endblock %}

{% block main-page %}
    <div class="container title-container">
        <h1 class="welcome-title">KidKnowGarden</h1>
        <p class="welcome-subtitle">Play to Learn!</p>
    </div>

    {% block form-parts %}

        <div class="container container-center">
            <form action="{% url 'register' %}" method="post">
                {% load myfilters %}
                {% for field in form.visible_fields %}
                    <div class="container form-container">
                        <td>{{ field|add_class_placeholder:'form-control' }}</td>
                    </div>
                    <div class="warning-font">
                        {{ field.errors }}
                    </div>

                {% endfor %}

                {% csrf_token %}
                <div class="container form-container">
                    <input type="submit" id="sign-up-btn" class="btn  btn-outline-dark btn-block" value="Sign Up">
                </div>
            </form>

        </div>

    {% endblock %}

    <div class="blank"></div>
{% endblock %}