{% extends "pages/home.html" %}

{% block title %}Room List{% endblock %}

{% block content %}
    <div class="container">
      <h5>Room List</h5>
      <br>
      <ul>
        {% for room in rooms %}
          <!-- NOTE: We escape HTML to prevent XSS attacks. -->
          <li>
              <button class="room-link" data-room-id="{{ room.id }}">{{ room.title|escape }}</button>
{#            <a href="#" id="{{ room.id|escape }}"> {{ room.title|escape }} </a>#}
          </li>
        {% endfor %}
      </ul>

        <div id="chats">
        </div>

    </div>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            // Correctly decide between ws:// and wss://
            var ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
            var ws_path = ws_scheme + '://' + window.location.host + "/chat/stream/";
            console.log("Connecting to " + ws_path);
            var socket = new ReconnectingWebSocket(ws_path);

            // Helpful debugging
            socket.onopen = function () {
                console.log("Connected to chat socket");
            };
            socket.onclose = function () {
                console.log("Disconnected from chat socket");
            };

            socket.onmessage = function (message) {
                // Decode the JSON
                console.log("Got websocket message " + message.data);
                var data = JSON.parse(message.data);
                // Handle errors
                if (data.error) {
                    alert(data.error);
                    return;
                }
                // Handle joining
                if (data.join) {
                    console.log("Joining room " + data.join);
                    var roomdiv = $(
                        "<div class='room' id='room-" + data.join + "'>" +
                        "<h2>" + data.title + "</h2>" +
                        "<div class='messages'></div>" +
                        "<div id='timer'></div> <div id='answer_group'>" +
                        "<button class='answer' answerid='1'>ANSWER1</button>" +
                        "<button class='answer' answerid='2'>ANSWER2</button>" +
                        "<button class='answer' answerid='3'>ANSWER3</button>" +
                        "<button class='answer' answerid='4'>ANSWER4</button> </div>" +
                        "<input><button id='chat_send'>Send</button>" +
                        "</div>"
                    );
                    $("#chats").append(roomdiv);
                    $("#chat_send").on("click", function () {
                        socket.send(JSON.stringify({
                            "command": "send",
                            "room": data.join,
                            "message": roomdiv.find("input").val()
                        }));
                        roomdiv.find("input").val("");
                    });

                    $("button.answer").click(function() {
                        // TODO: JUDGE THE CORRECTNESS OF THE QUESTION
                        // If I need to judge the correctness of the question
                        // I need to get question ID from DOM.
                        //roomId = $(this).attr("data-room-id");
                        answerId = $(this).attr("answerid");
                        console.log("clicked" + roomId + answerId);
                        socket.send(JSON.stringify({
                            "command": "answer",
                            "room": roomId,
                            "answer": answerId
                        }));
                    })
                    // Handle leaving
                } else if (data.leave) {
                    console.log("Leaving room " + data.leave);
                    $("#room-" + data.leave).remove();
                } else if (data.message) {
                    var msgdiv = $("#room-" + data.room + " .messages");
                    //var ok_msg = "";
                    ok_msg = "<div class='message'>" +
                        "<span class='username'>" + data.username + "</span>" +
                        "<span class='body'>" + data.message + "</span>" +
                        "</div>";
                    msgdiv.append(ok_msg);
                    msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
                } else if (data.answer){
                    console.log(data);
                    if(data.correctness === true || data.correctness === "True"){
                        $("button.answer").attr("disabled", "disabled");
                    }
                }
                else {
                    console.log(data);
                    console.log("Cannot handle message!");
                }
            };

            // Says if we joined a room or not by if there's a div for it
            function inRoom(roomId) {
                return $("#room-" + roomId).length > 0;
            }

            // Room join/leave
            $("button.room-link").click(function () {
                roomId = $(this).attr("data-room-id");
                if (inRoom(roomId)) {
                    // Leave room
                    $(this).removeClass("joined");
                    socket.send(JSON.stringify({
                        "command": "leave",  // determines which handler will be used (see chat/routing.py)
                        "room": roomId
                    }));
                } else {
                    // Join room
                    console.log("Clicked!");
                    $(this).addClass("joined");
                    socket.send(JSON.stringify({
                        "command": "join",
                        "room": roomId
                    }));
                }
            });


        });
    </script>



{% endblock %}
