{% extends "pages/question_list.html" %}

{% block page_title %}
    Contest Room
{% endblock %}

{% block additional_css %}
    <link href="/static/css/home-style.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block subpage-head-title %}
    Contest
{% endblock %}

{% block subpage-head-subtitle %}
    Have fun contest with friend!
{% endblock %}

{% block subpage-content-part %}
    <div class="container contest-question-container">
        <div id='timer' class='room-center timer-text'>
        </div>

        <div id='room' room-id='{{ room.id }}'>

            <div class='room-center'>
                <h2 id='title'> {{ room.title }}</h2>
                <h5 id='status'></h5>
            </div>

            <div class='messages' id='messages'>
            </div>

            <div id='answer_group' class='display-contest-form' hidden>
                <input type='hidden' id='record_id' value="" hidden>
                <div class='choice-row form-check-label'>
                    <input type='radio' name='choice' id='choice1' class='form-check-input' value="">
                    <label for="choice1"></label><br>
                </div>
                <div class='choice-row form-check-label'>
                    <input type='radio' name='choice' id='choice2' class='form-check-input' value="">
                    <label for="choice2"></label><br>
                </div>
                <div class='choice-row form-check-label'>
                    <input type='radio' name='choice' id='choice3' class='form-check-input' value="">
                    <label for="choice3"></label><br>
                </div>
                <div class='choice-row form-check-label'>
                    <input type='radio' name='choice' id='choice4' class='form-check-input' value="">
                    <label for="choice4"></label><br>
                </div>
                <div class='btn-submit-row'>
                    <button id='submit-btn' class='btn btn-primary'> submit</button>
                </div>

            </div>
            <br>

            <div class='room-center'>
                <button id='start' class='btn btn-primary' hidden> Start</button>
            </div>


        </div>
        <br>
        <div class='room-center'>
            <a class="btn btn-primary" href="{% url 'home' %}"> Leave </a>
        </div>

    </div>
{% endblock %}

{% block additional_scripts %}
    <script type="text/javascript" src="/static/plugin/jquery-confirm/jquery-confirm.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <script type="text/javascript" src="/static/js/room.js"></script>
{% endblock %}