{% extends "pages/home.html" %}

{% block title %}Room List{% endblock %}

{% block main-page %}
    <div class="container title-container">
        <h1 class="welcome-title">Contest</h1>
        <p class="welcome-subtitle">Have fun contest with friend!</p>
    </div>
    <div class="container room-list-container">
        <div id="all-room-list">
            <h2>Room List</h2>
            <div class="row room-row justify-content-md-center">
                {% for room in rooms %}
                    <!-- NOTE: We escape HTML to prevent XSS attacks. -->

                    <button class="btn btn-primary room-link"
                            data-room-id="{{ room.id }}">{{ room.title|escape }}</button>

                {% endfor %}
            </div>
        </div>

        <br>


        <div id="chats" class="container contest-question-container">
        </div>
        <div>
            <button id="back-to-room-list" class="btn btn-primary btn-back-to-room-list" hidden> Back</button>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            // Correctly decide between ws:// and wss://
            var ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
            var ws_path = ws_scheme + '://' + window.location.host + "/chat/stream/";
            console.log("Connecting to " + ws_path);
            var socket = new ReconnectingWebSocket(ws_path);

            var disable_helper_function;
            var timeout;
            var currenttime = 0;

            // Helpful debugging
            socket.onopen = function () {
                console.log("Connected to chat socket");
            };
            socket.onclose = function () {
                console.log("Disconnected from chat socket");
            };

            socket.onmessage = function (message) {
                // Decode the JSON
                console.log("Got websocket message " + message.data);
                var data = JSON.parse(message.data);
                // Handle errors
                if (data.error) {
                    alert(data.error);
                    return;
                }
                // Handle joining
                if (data.join) {
                    $("#back-to-room-list").attr("hidden", false);
                    $("#all-room-list").attr("hidden", true);
                    console.log("Joining room " + data.join);
                    // language=DjangoTemplate
                    var roomdiv = $(
                        "<div id='timer' class='room-center timer-text'></div> " +
                        "<div class='room' id='room-" + data.join + "'>" +
                        "<div class='room-center'>" +
                        "<h2 id='title'>" + data.title + "</h2>" +
                        "<h5 id='status'></h5></div>" +
                        "<div class='messages'></div>" +
                        "<div id='answer_group' class='display-contest-form' hidden></div><br>" +
                        "<div class='room-center'>" +
                        "<button id='start' class='btn btn-primary' hidden> START </button>" +
                        "</div>" +
                        "</div>"
                    );
                    $("#chats").append(roomdiv);

                    $("#start").on("click", function () {
                        socket.send(JSON.stringify({
                            "command": "start",
                            "room": data.join
                        }));

                    });

                    disable_helper_function = function disable() {
                        var radios = $('input:radio[name=choice]');
                        radios.prop('disabled', true);
                    }

                    // Handle leaving
                } else if (data.leave) {
                    console.log("Leaving room " + data.leave);
                    $("#room-" + data.leave).remove();
                }
                // TODO: EXTREMELY DANGEROUS BEHAVIOUR TO CORRECT!!!! SET TIME IN EXPLICITLY SET DIGIT!
                else if (data.message) {
                    if (data.message === "Start timing" && data.xmessage === "Start timing") {
                        timeout = setTimeout(disable_helper_function, 10000);
                        $("button.answer").prop('disabled', false);
                        currenttime = 10;
                        var intervalID = setInterval(function () {
                            currenttime = currenttime - 1;
                            if (currenttime === 0) {
                                this.clearInterval(intervalID);
                            }
                            $("#timer").html("<h2>" + currenttime + "</h2>");
                        }, 1000);
                    }

                    else if (data.message === "USER ENTER"){
                        var num = data.xmessage;
                        if (num === '1'){
                            console.log("")
                            $("#status").text("Wait for another people to join to start the contest.");
                            $("#start").hide();
                        }
                        else if (num === '2'){
                            $("#status").text("Ready to go! Hit start button to start contest.");
                            $("#start").show();
                        }
                    }

                    else if (data.xmessage === "Question") {
                        var answer_group = $("#answer_group");
                        answer_group.empty();
                        answer_group.attr('hidden', false);
                        {#$("#submit-btn").attr('hidden', false);#}
                        var question_string = data.message;
                        var arr = question_string.split("#");
                        var title = $("#title");
                        title.text(arr[4]);
                        var choicediv = $(
                            "<input type='hidden' id='record_id' value=\"" + arr[5] + "\" hidden>" +
                            "<div class='choice-row form-check-label'>" +
                            "<input type='radio' name='choice' id='choice1' class='form-check-input' value=\"" + arr[0] + "\">" + arr[0] + "<br>" +
                            "</div>" +
                            "<div class='choice-row form-check-label'>" +
                            "<input type='radio' name='choice' id='choice2' class='form-check-input' value=\"" + arr[1] + "\">" + arr[1] + "<br>" +
                            "</div>" +
                            "<div class='choice-row form-check-label'>" +
                            "<input type='radio' name='choice' id='choice3' class='form-check-input' value=\"" + arr[2] + "\">" + arr[2] + "<br>" +
                            "</div>" +
                            "<div class='choice-row form-check-label'>" +
                            "<input type='radio' name='choice' id='choice4' class='form-check-input' value=\"" + arr[3] + "\">" + arr[3] + "<br>" +
                            "</div>" +
                            "<div class='btn-submit-row'>" +
                            "<button id='submit-btn' class='btn btn-primary'> submit</button>" +
                            "</div>"
{#                    "<input type='hidden' id='record_id' value=\"" + arr[5] + "\" hidden>" +#}
{#                    "<input type='radio' name='choice' id='choice1' value=\"" + arr[0] + "\">" + arr[0] + "<br>" +#}
{#                    "<input type='radio' name='choice' id='choice2' value=\"" + arr[1] + "\">" + arr[1] + "<br>" +#}
{#                    "<input type='radio' name='choice' id='choice3' value=\"" + arr[2] + "\">" + arr[2] + "<br>" +#}
{#                    "<input type='radio' name='choice' id='choice4' value=\"" + arr[3] + "\">" + arr[3] + "<br>"#}
                        );
                        answer_group.append(choicediv);
                        $("#submit-btn").on("click", function () {
                            var index = -1;
                            if ($("#choice1").is(":checked")) {
                                index = 0;
                            }
                            else if ($("#choice2").is(":checked")) {
                                index = 1;
                            }
                            else if ($("#choice3").is(":checked")) {
                                index = 2;
                            }
                            else if ($("#choice4").is(":checked")) {
                                index = 3;
                            }
                            console.log("clicked" + data.room + index);
                            if (index >= 0) {
                                var id = $("#record_id").attr("value");
                                console.log(id);
                                socket.send(JSON.stringify({
                                    "command": "answer",
                                    "room": data.room,
                                    "record_id": id,
                                    "answer": index
                                }));
                            }
                        });
                    }

                    else {
                        var msgdiv = $("#room-" + data.room + " .messages");
                        //var ok_msg = "";
                        ok_msg = "<div class='message'>" +
                            "<span class='username'>" + data.username + " : " + "</span>" +
                            "<span class='body'>" + data.message + "</span>" +
                            "</div>";
                        msgdiv.append(ok_msg);
                        msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
                    }

                } else if (data.answer) {
                    console.log(data);
                    if (data.correctness === true || data.correctness === "True") {
                        var radios = $('input:radio[name=choice]');
                        radios.prop('disabled', true);
                    }
                }
                else {
                    console.log(data);
                    console.log("Cannot handle message!");
                }
            };

            // Says if we joined a room or not by if there's a div for it
            function inRoom(roomId) {
                return $("#room-" + roomId).length > 0;
            }

            // Room join/leave
            $("#back-to-room-list").click(function () {
                $("#back-to-room-list").attr("hidden", true);
                $("#all-room-list").attr("hidden", false);
                $("#chats").empty();
                // Leave room
                $(this).attr("room-id", "");
                socket.send(JSON.stringify({
                    "command": "leave",  // determines which handler will be used (see chat/routing.py)
                    "room": roomId
                }));
            });

            $("button.room-link").click(function () {
                roomId = $(this).attr("data-room-id");
                // Join room
                console.log("Clicked!");
                $("#back-to-room-list").attr("room-id", roomId);
                //$(this).addClass("joined");
                socket.send(JSON.stringify({
                    "command": "join",
                    "room": roomId
                }));
            });


        });
    </script>



{% endblock %}
