{% extends "pages/question_list.html" %}

{% block page_title %}
    Room Matching
{% endblock %}

{% block additional_css %}

    <link href="/static/css/home-style.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block subpage-head-title %}
    Contest
{% endblock %}

{% block subpage-head-subtitle %}
    Have fun contest with friend!
{% endblock %}

{% block subpage-content-part %}
    <h5 id="username" hidden>{{ user.username }}</h5>

    <div class="container contest-question-container">
        <div id='timer' class='room-center timer-text'>
        </div>

        <div id='room' room-id="1">

            <div class='room-center'>
                <h2 id='title'>You are now entering contest</h2>
                <h5 id='status'>We are finding a suitable opponent</h5>
            </div>

            <div class='messages' id='messages'>
            </div>

        </div>
        <br>
        <div class='room-center'>
            <a class="btn btn-primary" href="{% url 'home' %}"> Leave </a>
        </div>

    </div>
{% endblock %}

{% block additional_scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <script type="text/javascript" src="/static/js/room_matching.js"></script>
{% endblock %}