{% extends "pages/home.html" %}
{% block additional_link_script %}
    <script type="text/javascript" src="/static/js/contest.js"></script>
    <link href="/static/css/home-style.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block title %}Room List{% endblock %}

{% block main-page %}
    <div class="container title-container">
        <h1 class="welcome-title">Contest</h1>
        <p class="welcome-subtitle">Have fun contest with friend!</p>
    </div>
    <div class="container room-list-container">
        <div id="all-room-list">
            <h2>Room List</h2>
            <div class="row room-row justify-content-md-center">
                {% for room in rooms %}
                    <!-- NOTE: We escape HTML to prevent XSS attacks. -->

                    <button class="btn btn-primary room-link"
                            data-room-id="{{ room.id }}">{{ room.title|escape }}</button>

                {% endfor %}
            </div>
        </div>

        <br>


        <div id="chats" class="container contest-question-container">
        </div>
        <div>
            <button id="back-to-room-list" class="btn btn-primary btn-back-to-room-list" hidden> Back</button>
        </div>

    </div>
{% endblock %}
