{% extends "pages/base_template.html" %}

{% block title %} Glumblr Profile Setting {% endblock %}

{% block main-page %}
    <div class="container title-container">
        <h1 class="welcome-title">Set Your Profile</h1>
        <p class="welcome-subtitle">To Broadcast You!</p>
    </div>

    <div class="container container-center">
        <form action="{% url 'set-profile' %}" method="post" enctype="multipart/form-data">
            {% load myfilters %}
            {% for field in profile_form.visible_fields %}
                <div class="container form-container-wide">
                    <div class="form-group row">
                        <label class="label-style col-sm-4 col-form-label"
                               for="{{ field.name }}">{{ field.label }}</label>
                        <div class="col-sm-8">
                            <td>{{ field|add_class_placeholder:'form-control' }}</td>
                        </div>
                    </div>
                </div>
                <div class="container form-container"></div>
                <div class="warning-font">
                    {{ field.errors }}
                </div>

            {% endfor %}

            {% csrf_token %}
            <div class="container form-container">
                <input type="submit" id="submit-btn" class="btn  btn-outline-dark btn-block" value="Submit">
            </div>
        </form>

    </div>
{% endblock %}