{% extends "pages/question_list.html" %}

{% block page_title %}
    Sudoku
{% endblock %}

{% block additional_css %}
    <link href="/static/css/home-style.css" rel="stylesheet" type="text/css">
    <link href="/static/css/sudoku_game/style.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block subpage-head-title %}
    Sudoku Game {{ question_id }}
{% endblock %}

{% block subpage-head-subtitle %}
    Play With Sudoku!
{% endblock %}

{% block subpage-content-part %}
    <div class="container sudoku-board-container">
        <div id="sudoku_board" class="sudoku-board">

        </div>
    </div>
    <div class="mbr-section-btn align-center py-2">
        <button id="replay-btn" class="btn btn-md btn-primary display-4" style="border-radius: 100px">
            Replay
        </button>
        <button id="help-btn" class="btn btn-md btn-primary display-4" style="border-radius: 100px">
            Hint One
        </button>
        <button id="answer-btn" class="btn btn-md btn-primary display-4" style="border-radius: 100px">
            Answer
        </button>
    </div>
{% endblock %}

{% block additional_scripts %}
    <script type="text/javascript" src="/static/js/sudoku_game/actions.js"></script>
{% endblock %}