{% extends "pages/question_list.html" %}

{% block page_title %}
    Sudoku
{% endblock %}

{% block additional_css %}
    <link href="/static/css/home-style.css" rel="stylesheet" type="text/css">
    <link href="/static/css/sudoku_game/style.css" rel="stylesheet" type="text/css">
    <link href="/static/plugin/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block subpage-head-title %}
    Sudoku Game
{% endblock %}

{% block subpage-head-subtitle %}
    Play With Sudoku!
{% endblock %}

{% block subpage-content-part %}
    <div class="container container-level">
        <label class="custom-control custom-radio">
            <span class="custom-control-description">CHOOSE LEVEL: </span>
        </label>
        <label class="custom-control custom-radio">
            <input id="radio1" name="radio" type="radio" class="custom-control-input" checked="">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">EASY</span>
        </label>
        <label class="custom-control custom-radio">
            <input id="radio2" name="radio" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">MIDDLE</span>
        </label>
        <label class="custom-control custom-radio">
            <input id="radio3" name="radio" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">HARD</span>
        </label>

        {#        <label> Level:</label>#}
        {#        <select class="custom-select">#}
        {#            <option value="1">Easy</option>#}
        {#            <option value="2">Two</option>#}
        {#            <option value="3">Three</option>#}
        {#        </select>#}

    </div>
    <div class="container sudoku-board-container">
        <div id="sudoku_board" class="sudoku-board">

        </div>
    </div>
    <div class="mbr-section-btn align-center py-2">
        <button id="replay-btn" class="btn btn-md btn-primary display-4" style="border-radius: 100px">
            Replay
        </button>
        <button id="hint-btn" class="btn btn-md btn-primary display-4" style="border-radius: 100px">
            Hint One
        </button>
        <button id="check-btn" class="btn btn-md btn-primary display-4" style="border-radius: 100px">
            Check
        </button>
        <button id="answer-btn" class="btn btn-md btn-primary display-4" style="border-radius: 100px">
            Solution
        </button>
    </div>
{% endblock %}

{% block additional_scripts %}
    <script type="text/javascript" src="/static/plugin/jquery-confirm/jquery-confirm.min.js"></script>
    <script type="text/javascript" src="/static/js/sudoku_game/actions.js"></script>
{% endblock %}