{% extends "pages/base_template.html" %}

{% block title %} KidKnowGarden Welcome Page {% endblock %}

{% block nav-row %}

    <div class="collapse navbar-collapse justify-content-md-end">
{#        <a href="{% url 'login-page' %}">#}
            <button id="sign-in-upper" class="btn btn-outline-dark mr-md-4">
                Sign In
            </button>
{#        </a>#}
        <a href="{% url 'register' %}">
            <button id="sign-up-upper" class="btn btn-outline-dark mr-md-2">
                Sign Up
            </button>
        </a>
    </div>

{% endblock %}

{% block main-page %}
    <div class="container title-container">
        <h1 class="welcome-title">Start on Glumblr</h1>
        <p class="welcome-subtitle">Where you meet new friends!</p>
    </div>

{% endblock %}