div#memory_board{
  background:#DADADA;
  border:#999 1px solid;
  width: 610px;
  height: 470px;
  padding: 24px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

div#memory_board > div {
  background: #9fcdff;
  border: #000 1px solid;
  width: 120px;
  height: 120px;
  float: left;
  margin: 10px;
  padding: 20px;
  font-size: 56px;
  cursor: pointer;
  text-align: center;
}

.show-success {
  padding-top: 30px;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 100px;
}

.alert-text {
  margin-top: 20px;
  text-align: center;
}